extends layout

block content
  h1 Title: #{category.title}

  p #[strong Name:] #{category.name}
  p #[strong Description:] #{category.description}

  hr
  p
    a(href=category.url+'/delete') Delete category